---
import Layout from "../layouts/Layout.astro";
import PageHeader from "@components/Astro/PageHeader.astro";
import PortfolioGrid from "@components/Astro/PortfolioGrid.astro";

import alk4 from "../assets/alk4.png";

const images = [
  {
    src: alk4,
    alt: "Screenshot of the ALK4 logo",
    projectName: "Alkaline",
    projectDescription: "A neutral base for all your projects",
    projectUrl: "https://github.com/amagiciannamedgob/alkaline",
    width: 250,
    height: 250,
  },
  {
    src: alk4,
    alt: "Screenshot of the landing page for the Alkaline demo site",
    projectName: "Alkaline Demo",
    projectDescription:
      "lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    projectUrl: "https://alkaline-site.com",
    width: 250,
    height: 250,
  },
  {
    src: alk4,
    alt: "Screenshot of the ALK4 logo",
    projectName: "Alkaline",
    projectDescription: "A neutral base for all your projects",
    projectUrl: "https://github.com/amagiciannamedgob/alkaline",
    width: 250,
    height: 250,
  },
  {
    src: alk4,
    alt: "Screenshot of the ALK4 logo",
    projectName: "Alkaline",
    projectDescription: "A neutral base for all your projects",
    projectUrl: "https://github.com/amagiciannamedgob/alkaline",
    width: 250,
    height: 250,
  },
  {
    src: alk4,
    alt: "Screenshot of the ALK4 logo",
    projectName: "Alkaline",
    projectDescription: "A neutral base for all your projects",
    projectUrl: "https://github.com/amagiciannamedgob/alkaline",
    width: 250,
    height: 250,
  },
];

const description =
  "This portfolio highlights select projects from my work as a web developer with experience in e-commerce platforms, custom integrations, and modern frameworks including Astro, React, and TypeScript. The collection ranges from responsive websites and checkout flows to internal tools that streamline workflows and improve efficiency. Each project emphasizes clean code, strong performance, and practical solutions to real business problems.";
---

<Layout>
  <!-- <PageHeader heading="My Portfolio" description={description} />
  <section class="mt-16">
    <PortfolioGrid images={images} />
  </section> -->
  <h2 class="text-center mt-10">Portfolio coming soon!</h2>
</Layout>
