---
import Layout from "@layouts/Layout.astro";

import PageHeader from "@components/Astro/PageHeader.astro";
import PortfolioGrid from "@components/Astro/PortfolioGrid.astro";

import astro from "@assets/astro-icon-light-gradient.png";
import alk4 from "@assets/alk4.png";
import pallette from "@assets/artist-palette.png";
import bigC from "@assets/bigcommerce_logo.png";
import node from "@assets/Node.js.png";
import alexa from "@assets/Amazon_Alexa_App_Logo.png";
import eldrow from "@assets/eldrow.png";

const images = [
  {
    src: astro,
    alt: "Astro logo",
    projectName: "Alkaline",
    projectDescription:
      "Alkaline is a sleek, Astro-powered theme built for clean, low-JavaScript sites—complete with 14 color schemes, MDX + blog/docs support, SEO optimizations, and Tailwind with some TypeScript out of the box.",
    projectUrl: "https://github.com/amagiciannamedgob/alkaline",
    urlText: "View on GitHub",
  },
  {
    src: alk4,
    alt: "Alkaline logo",
    projectName: "Alkaline Demo",
    projectDescription:
      "This portfolio entry highlights the demo site for Alkaline, a modern Astro theme I built for speed, clean design, and developer efficiency. The site itself runs on Alkaline, providing a live demonstration of its features, performance, and flexibility.",
    projectUrl: "https://alkaline-site.com/",
    urlText: "Alkaline Demo",
  },
  {
    src: pallette,
    alt: "Color Genie logo",
    projectName: "Color Genie",
    projectDescription:
      "Color-Genie is a streamlined color palette tool that generates 70+ harmonious tones from a single base color. Features instant CSS and Tailwind code output with advanced customization options—built for developers who need quick implementation with maximum creative control.",
    projectUrl: "https://color-genie.site/",
    urlText: "Color Genie",
  },
  {
    src: bigC,
    alt: "BigCommerce logo",
    projectName: "BigCommerce Widgets",
    projectDescription:
      "This portfolio entry showcases BigCommerce Widgets, a set of customizable components designed to enhance the e-commerce experience on BigCommerce stores. Built with performance and flexibility in mind, these widgets can be easily integrated into any BigCommerce theme.",
    projectUrl: "https://github.com/AMagicianNamedGob/widgets",
    urlText: "BigCommerce Widgets on GitHub",
  },
  {
    src: node,
    alt: "Node.js logo",
    projectName: "Sample-Scripts",
    projectDescription:
      "Sample-Scripts is a lightweight repository showcasing Python and Node.js code examples taken from real projects. These scripts aren’t production-ready or general-purpose, but provide clear demonstrations of specific use cases across both languages.",
    projectUrl: "https://github.com/AMagicianNamedGob/misc_scripts",
    urlText: "Sample-Scripts on GitHub",
  },
  {
    src: alexa,
    alt: "Amazon Alexa logo",
    projectName: "Amazon Alexa Skills",
    projectDescription:
      "I assisted in the development of several custom Alexa Skills, including an innovative Ethereum mining integration. Notable project includes a rapid-prototype multilingual Alexa Skill for KFC, demonstrating real-time language switching between English and Spanish. The demo showcased the potential of voice-activated technology in customer service applications.",
    projectUrl: " https://vimeo.com/309762069",
    urlText: "Sample Video",
  },
  {
    src: eldrow,
    alt: "Eldrow logo",
    projectName: "Eldrow",
    projectDescription:
      "Eldrow is a clone of Worldle, the popular daily word game, built using React and TypeScript. This project showcases my ability to create engaging web applications with modern frameworks, focusing on user experience,  and responsive design.",
    projectUrl: "https://eldrow.xyz/",
    urlText: "Play Eldrow",
  },
];

const description =
  "This portfolio highlights select projects from my work as a web developer with experience in e-commerce platforms, custom integrations, and modern frameworks including Astro, React, and TypeScript. The collection ranges from responsive websites to internal tools that streamline workflows and improve efficiency. Each project emphasizes clean code, strong performance, and practical solutions to real business problems.";
---

<Layout>
  <PageHeader heading="My Portfolio" description={description} />
  <section class="-mt-28">
    <div class="mt-16 sm:mt-20"></div>
    <PortfolioGrid images={images} />
  </section></Layout
>
